<h3>Color App</h3>
<form class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <label class="visually-hidden">Calculator</label>
    <select class="form-select" name="color" [(ngModel)]="color">
      <option selected>Choose color</option>
      <option value="color: red">Red</option>
      <option value="color: green">Green</option>
      <option value="color: blue">Blue</option>
      <option value="color: yellow">Yellow</option>
      <option value="color: pink">Pink</option>
      <option value="color: orange">Orange</option>
      <option value="color: black">Black</option>
    </select>
  </div>
</form>
<div style="{{color}}">
  <h2> CẤM HÚT THUỐC</h2>
<p> - Vợ cậu có cấm cậu hút thuốc lá ở nhà không?</p>
<p> - Cấm tuốt, ở nhà, ở cơ quan cũng như nơi công cộng.</p>
<p> - Hút ngoài đường thì liên quan gì đến cô ấy chứ.</p>
<p> - Cô ấy bảo, trong gia đình một người hút thuốc là đủ tốn tiền lắm rồi.</p>
<p></p>
</div>
